@use '../../styles/variables' as v;

.error {
  position: absolute;
  bottom: -5em;
  left: 50%;
  transform: translateX(-50%);
  transition: 750ms;

  background: rgba(255, 255, 255, 0.5);
  border: solid 2px rgba(255, 255, 255, 1);
  padding: 1em 2em;
  border-radius: v.$radius-small;

  &-active {
    bottom: 4em;
  }
}
