@use '../../styles/variables' as v;

.error {
  position: absolute;
  bottom: -5em;
  left: 50%;
  transform: translateX(-50%);
  transition: 750ms;

  background: v.$color-highlight-alt;
  border: solid 2px v.$color-highlight;
  padding: 1em 2em;
  border-radius: v.$radius-small;

  &-active {
    bottom: 4em;
  }
}
