@use '../../styles/variables' as v;

.error {
  position: absolute;
  top: 2em;
  right: -20em;
  transition: 750ms;

  background: v.$color-secondary;
  border: solid 2px v.$color-primary;
  padding: 1em 2em;
  border-radius: v.$radius-small;
  text-align: center;
  font-weight: 600;
  color: v.$color-primary;

  &-active {
    right: 2em;
  }
}
