$color-text: #002b5b;
$color-highlight: rgba(234, 84, 85, 1);
$color-highlight-alt: rgba(234, 84, 85, 0.25);
$color-bg: #e4dccf;
$color-bg-alt: #f9f5eb;

$radius-big: 1.5em;
$radius-small: 0.5em;
