@use '../../styles/variables' as v;

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: v.$color-text;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.25em;
    width: 75%;
    margin: 0 auto 1em;
  }

  h3 {
    color: v.$color-text;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1em;
  }

  span {
    font-size: 0.9em;
    color: v.$color-text;
  }

  form {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;

    .input-group {
      display: flex;
      align-items: center;

      input {
        border: none;
        border-radius: v.$radius-small;
        background: v.$color-bg;
        color: v.$color-text;
        padding: 0.75em 1em;
        font-size: 1em;
        transition: 200ms;

        &:hover {
          opacity: 0.5;
        }

        &:active,
        &:focus {
          outline-color: v.$color-highlight;
        }
      }

      svg {
        width: auto;
        height: 1.5em;
        fill: v.$color-text;
        margin-right: 0.5em;
      }
    }
  }
}
